@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html,
body {
  width: 360px;
  min-height: 540px;
  font-family: 'Roboto', sans-serif !important;
}

.appname {
  font-size: 12px;
  text-transform: uppercase;
  margin-left:60px;
}

.ethgas {
  font-size: 10px;
}

.collection {
  width: 100%;
  height: 55px;
  background: #2c2c2f;
  border-radius: 5px;
  padding: 10px;
  line-height: 35px;
  font-weight: 700;
  overflow: hidden;
}

.collection:hover {
  opacity: 1;
  transition: all 0.25s ease;
}

.collectiontitle {
  font-size: 11px;
  opacity: 1 !important;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  font-weight: 700;
  cursor:pointer;
}

.collectiontitle:hover {
letter-spacing: 1px;
transition: all 0.25s ease;
}

.collectionName {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
}

.collectionfloor {
  font-size: 8px;
  text-transform: uppercase;
  color: #68c78b;
  padding: 4px;
  background: linear-gradient(
    to right,
    #252627,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  height: 28px;
  line-height: 22px;
  margin-top: 4px;
  font-weight: 500;
}

.collectionbackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
}

.collection:hover > .collectionbackground {
  transform: scale(1.2);
  transition: transform 0.6s;
  opacity: 0.7;
}

.headerbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: linear-gradient(
    145deg,
    rgba(96, 86, 175, 1) 0%,
    rgba(126, 116, 208, 1) 100%
  );
  padding: 10px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 24px;
  width: 100%;
}

.footer svg {
  color: #fff;
  cursor: pointer;
  opacity: 0.6;
}

.footer svg:hover {
  color: linear-gradient(
    145deg,
    rgba(96, 86, 175, 1) 0%,
    rgba(126, 116, 208, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  opacity: 1;
}

.new {
  font-size: 10px;
  cursor: pointer;
  opacity: 0.8;
  background: linear-gradient(145deg, #6056af 0%, #7e74d0 100%);
  border-radius: 2px;
  padding: 5px;
  height: 100%;
  transition: all 0.25s ease;
}

.new:hover {
  font-size: 10px;
  cursor: pointer;
  opacity: 1;
}

.pageheader {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.titleheader {
  margin-bottom: 20px;
}

.fieldtitle {
  font-size: 12px !important;
}

.fieldinput {
  margin-bottom: 5px;
}

.submitbutton {
  font-size: 10px !important;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  background: linear-gradient(145deg, #6056af 0%, #7e74d0 100%) !important;
  border-radius: 2px;
  padding: 5px;
  height: 100%;
  transition: all 0.25s ease;
  margin-top: 10px;
}

.submitbutton:hover {
  opacity: 1;
}

.cancelbutton {
  font-size: 10px !important;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  background: #ff4136 !important;
  border-radius: 2px;
  padding: 5px;
  height: 100%;
  transition: all 0.25s ease;
  margin-top: 10px;
}

.cancelbutton:hover {
  opacity: 1;
}

.optionslist {
  width: 100%;
  height: 40px;
  background: #2c2c2f;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 10px !important;
  text-transform: uppercase;
  opacity: 0.8;
}

.optionslist:hover {
  opacity: 1;
}

.chakra-checkbox__label {
  font-size: 10px !important;
}

.back {
  cursor: pointer;
  opacity: 0.8;
}

.back:hover {
  cursor: pointer;
  opacity: 1;
}

.deleteicon {
  opacity: 0.8;
}

.deleteicon:hover {
  color: #ff4136 !important;
  opacity: 1;
  transition: all 0.25s ease;
}
