html,
body {
  height: 100vh;
}

#app {
  min-height: 100vh;
}

.OptionsContainer {
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitbutton {
  font-size: 10px !important;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  background: linear-gradient(145deg, #6056af 0%, #7e74d0 100%) !important;
  border-radius: 2px;
  padding: 5px;
  height: 100%;
  transition: all 0.25s ease;
  margin-top: 10px;
  color: white;
}

.submitbutton:hover {
  opacity: 1;
}